@{
    ViewData["Title"] = "Home Page";
}

<div class="hero">
    <h1>Bienvenido a Persona-Api</h1>
    <p>Explora cómo nuestro proyecto está transformando la gestión de personas con tecnologías modernas y fáciles de usar.</p>
    <a href="https://learn.microsoft.com/aspnet/core" class="btn">Descubre más</a>
</div>


<footer>
    <p>&copy; 2024 Persona-Api. Todos los derechos reservados.</p>
</footer>
