@model personapi_dotnet.Models.Entities.Estudio

@{
    ViewData["Title"] = "Detalles de Estudio";
}

<h2>Detalles de Estudio</h2>

<div class="form-group">
    <label>Fecha:</label>
    <p>@Model.Fecha</p>
</div>

<div class="form-group">
    <label>Universidad:</label>
    <p>@Model.Univer</p>
</div>

<div class="form-group">
    <label>Persona (CC):</label>
    <p>@Model.CcPerNavigation.Cc</p>
</div>

<div class="form-group">
    <label>Profesión (ID):</label>
    <p>@Model.IdProfNavigation.Id</p>
</div>

<a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
