@model personapi_dotnet.Models.Entities.Profesion

@{
    ViewData["Title"] = "Detalles de Profesión";
}

<h2>Detalles de Profesión</h2>

<div class="form-group">
    <label>Nombre:</label>
    <p>@Model.Nom</p>
</div>

<div class="form-group">
    <label>Descripción:</label>
    <p>@Model.Des</p>
</div>

<a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
